#main {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: black;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
